<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta name="theme-color" content="#111827">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="#111827" />
    <title>Kamaludin</title>
    <link rel="shortcut icon" href="/favicon.png" type="image/x-icon" />
    <link rel="icon" href="/favicon.png"  />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <meta name="title" content="Kamaludin" />
    <meta
      name="description"
      content="Hi, call me Kamal, App Developers Freelance application developer, specialised in website and mobile applications. Want collab for your next project?"
    />
    <meta
      name="keywords"
      content="kamaludin, kamal, kamaludin portolio, kamal developer, programmer"
    />
    <meta name="robots" content="index, follow" />
    <meta name="language" content="English" />
    <meta name="revisit-after" content="1 days" />
    <meta name="author" content="Kamaludin" />
    
    <link rel="canonical" href="https://kamaludin.tech/" />
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-8SCJC7324N"
    ></script>
    <script>
      function gtag() {
        dataLayer.push(arguments);
      }
      (window.dataLayer = window.dataLayer || []),
        gtag("js", new Date()),
        gtag("config", "G-8SCJC7324N");
    </script>
  </head>
  <body class="bg-gray-900">
    <noscript>
      <strong
        >We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work
        properly without JavaScript enabled. Please enable it to
        continue.</strong
      >
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
