<template>
  <section class="wrap-x wrap-y">
    <Detail
      :article="data[0]"
      :related="data[1].related"
      :populars="data[2].populars"
    />
  </section>
</template>

<script>
import Detail from "@/components/blog/Detail";

export default {
  name: "BlogDetail",
  components: {
    Detail,
  },
  data: function() {
    return {
      data: [
        {
          id: 2645,
            title:
              "Setup project dengan tailwind css dan vuejs konfigurasi minimals",
            slug: "setup-tailwindcss-project-with-vuejs",
            thumbnailUrl:
              "https://storageapi.fleek.co/kamaludin21-team-bucket/portfolio/pirates.webp",
            description:
              "<img class='rounded-lg' src='http://www.3forty.media/ruki/wp-content/uploads/2020/06/meditation-1600x680.jpg' alt='Thumbnail blog' loading='lazy' /> <p> We were making our way to the Rila Mountains, where we were visiting the Rila Monastery where we enjoyed scrambled eggs, toast, mekitsi, local jam and peppermint tea. </p><p> We wandered the site with busloads of other tourists, yet strangely the place did not seem crowded. I’m not sure if it was the sheer size of the place, or whether the masses congregated in one area and didn’t venture far from the main church, but I didn’t feel overwhelmed by tourists in the monastery. </p><div class='bg-gray-800 p-2 rounded'> <code>line();</code> <br/> <code>return function() != false;</code> </div> ",
            author: "Owner",
            authorUrl:
              "https://storageapi.fleek.co/kamaludin21-team-bucket/portfolio/avatar.jpg",
            dateCreated: "June 2021",
            minuteReads: "6 Min",
            category: "Laravel",
            color: "bg-rose-700",
        },
        {
          related: [
            {
              id: 6547,
              title: "Related topic 1",
              slug: "setup-tailwindcss-project-with-vuejs",
              author: "Owner",
              authorUrl:
                "https://storageapi.fleek.co/kamaludin21-team-bucket/portfolio/avatar.jpg",
              dateCreated: "June 2021",
              category: "Laravel",
            },
            {
              id: 234562,
              title: "Related topic 2",
              slug: "setup-tailwindcss-project-with-vuejs",
              author: "Owner",
              authorUrl:
                "https://storageapi.fleek.co/kamaludin21-team-bucket/portfolio/avatar.jpg",
              dateCreated: "June 2021",
              category: "Laravel",
            },
          ],
        },
        {
          populars: [
            {
              id: 345325,
              title: "Setup project dengan tailwind css dan vuejs konfigurasi minimal",
              slug: "setup-tailwindcss-project-with-vuejs",
              thumbnailUrl:
                "http://www.3forty.media/ruki/wp-content/uploads/2020/06/meditation-yoga-1024x682.jpg",
              description:
                "Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, eaque ipsam.",
              author: "Owner",
              authorUrl:
                "https://storageapi.fleek.co/kamaludin21-team-bucket/portfolio/avatar.jpg",
              dateCreated: "June 2021",
              minuteReads: "6 Min",
              category: "Laravel",
              color: "bg-rose-700",
            },
            {
              id: 43536,
              title: "Setup project dengan tailwind css dan vuejs konfigurasi minimal",
              slug: "setup-tailwindcss-project-with-vuejs",
              thumbnailUrl:
                "http://www.3forty.media/ruki/wp-content/uploads/2020/06/meditation-yoga-1024x682.jpg",
              description:
                "Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, eaque ipsam.",
              author: "Owner",
              authorUrl:
                "https://storageapi.fleek.co/kamaludin21-team-bucket/portfolio/avatar.jpg",
              dateCreated: "June 2021",
              minuteReads: "6 Min",
              category: "PHP",
              color: "bg-purple-700",
            },
          ],
        },
      ],
    };
  },
};
</script>
