<template>
  <section class="wrap-x wrap-y">
    <Header />
    <Articles :articles=articles />
  </section>
</template>

<script>
import Header from "@/components/blog/Header"
import Articles from "@/components/blog/Articles"

export default {
  name: "Blog",
  components: {
    Header,
    Articles,
  },
  data: function() {
    return {
      articles: [
        // {
        //   id: 1,
        //   title:
        //     "Setup project dengan tailwind css dan vuejs konfigurasi minimal",
        //   slug: "setup-tailwindcss-project-with-vuejs",
        //   thumbnailUrl:
        //     "http://www.3forty.media/ruki/wp-content/uploads/2020/06/meditation-yoga-1024x682.jpg",
        //   description:
        //     "Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, eaque ipsam.",
        //   author: "Owner",
        //   authorUrl:
        //     "https://storageapi.fleek.co/kamaludin21-team-bucket/portfolio/avatar.jpg",
        //   dateCreated: "June 2021",
        //   minuteReads: "6 Min",
        //   category: "Laravel",
        //   color: "bg-rose-700",
        // },
      ],
    };
  },
  
}
</script>