<template>
  <div class="wrap-x wrap-y mt-16">
    <Header />
    <!-- Services -->
    <Services />
    <!-- Hire -->
    <Hire />
    <!-- Projects -->
    <Project />
    <!-- Contact -->
    <Contact />
  </div>
</template>

<script>
import Header from '@/components/home/Header'
import Services from '@/components/home/Services'
import Hire from '@/components/home/Hire'
import Project from '@/components/home/Project'
import Contact from '@/components/home/Contact'

export default {
  name: 'Home',
  components: {
    Header,
    Services,
    Hire,
    Project,
    Contact
  },
}
</script>
