<template>
  <div class="wrap-x wrap-y mt-16">
    <div class="flex flex-col md:flex-row justify-center items-center space-x-0 md:space-x-10">
      <img src="../assets/img/lost.png" class="w-40 md:w-56 mb-6" alt="Not found" />
      <div class="text-center md:text-left w-full md:w-1/3">
        <p class="text-2xl md:text-4xl font-bold text-blue-50 mb-2">
          Sorry, the page you were looking for was not found.
        </p>
        <a href="/" class="text-lg md:text-xl text-blue-600 hover:text-blue-400 font-semibold border-b-2 border-blue-600 hover:border-blue-400 tracking-wide"
          >Return home</a
        >
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "NotFound",
};
</script>