<template>
  <section class="wrap-x wrap-y mt-16">
    <TitleSections title="Resources" />
    <p class="font-light text-white">
      A List of resources i use for this web:
    </p>
    <div class="py-4 text-white text-sm">
      <p class="text-lg font-medium pt-4">Images</p>
      <ul class="order-list" :key="resources.id" v-for="resources in resources">
        <li>
          {{ resources.name }}: {{ resources.type }} made by
          <a class="link font-medium" :href="resources.authorLink">{{ resources.maker }} </a>
          from
          <a class="link font-medium" :href="resources.resoureceLink">{{ resources.resoureceLink }}</a>
        </li>
      </ul>
      <p class="text-lg font-medium pt-4">Icons</p>
      <ul class="order-list" :key="icons.id" v-for="icons in icons">
        <li>
          {{ icons.name }}: {{ icons.type }} made by
          <a class="link font-medium" :href="icons.authorLink">{{ icons.maker }} </a>
          from
          <a class="link font-medium" :href="icons.resoureceLink">{{ icons.resoureceLink }}</a>
        </li>
      </ul>

      <p class="text-lg font-medium pt-4">Tech Stack:</p>
      <ul class="order-list">
        <li>
          <a href="https://www.javascript.com/" class="link">Javascript</a>
        </li>
        <li><a href="https://vuejs.org/" class="link">Vue.js</a></li>
        <li><a href="https://tailwindcss.com/" class="link">Tailwindcss</a></li>
        <li><a href="https://vercel.com/" class="link">Vercel</a></li>
        <li><a href="https://heroicons.com/" class="link">Heroicons</a></li>
      </ul>
    </div>
  </section>
</template>

<script>
import TitleSections from "@/components/TitleSection";

export default {
  name: "Resources",
  components: {
    TitleSections,
  },
  data: function() {
    return {
      resources: [
        {
          id: 1,
          name: "Coding",
          type: "Icon",
          maker: "Icongeek26",
          authorLink: "https://www.flaticon.com/authors/icongeek26",
          resoureceLink: "www.flaticon.com",
        },
        {
          id: 2,
          name: "Interface",
          type: "Icon",
          maker: "Icongeek26",
          authorLink: "https://www.flaticon.com/authors/icongeek26",
          resoureceLink: "www.flaticon.com",
        },
        {
          id: 3,
          name: "Smartphone",
          type: "Icon",
          maker: "Icongeek26",
          authorLink: "https://www.flaticon.com/authors/icongeek26",
          resoureceLink: "www.flaticon.com",
        },
        {
          id: 4,
          name: "K",
          type: "Icon",
          maker: "Icongeek26",
          authorLink: "https://www.flaticon.com/authors/icongeek26",
          resoureceLink: "www.flaticon.com",
        },
        {
          id: 5,
          name: "Wall Post",
          type: "Illustration",
          maker: "Icongeek26",
          authorLink: "https://storyset.com/web",
          resoureceLink: "https://storyset.com/web",
        },
      ],
      icons: [
        {
          id: 6,
          name: "Github",
          type: "Icon",
          maker: "Pixel Perfect",
          authorLink: "https://icon54.com/",
          resoureceLink: "www.flaticon.com",
        },
        {
          id: 7,
          name: "Envelope",
          type: "Icon",
          maker: "Those Icons",
          authorLink: "https://www.flaticon.com/authors/those-icons",
          resoureceLink: "www.flaticon.com",
        },
        {
          id: 8,
          name: "Twitter",
          type: "Icon",
          maker: "Pixel Perpect",
          authorLink: "https://www.flaticon.com/authors/those-icons",
          resoureceLink: "www.flaticon.com",
        },
      ],
    };
  },
};
</script>

