<template>
  <section class="wrap-y" id="contact">
    <TitleSections title="Get in touch" />
    <div class="flex-section mt-6">
      <div class="w-full md:w-1/2 h-max">
        <p class="text-white font-light">
          Want talk about your project? let's talk at email or you can fill the
          form. don't forget hit the social button below
        </p>
        <div class="flex flex-row space-x-4 my-6">
          <a
            href="https://github.com/kamaludin21"
            target="_blank"
            class="social-button"
          >
            <img
              src="../../assets/img/github.png"
              alt="github"
              loading="lazy"
            />
          </a>
          <a
            href="mailto:kamal.zyel@gmail.com"
            target="_blank"
            class="social-button"
          >
            <img
              class="w-24"
              src="../../assets/img/envelope.png"
              alt="gmail"
              loading="lazy"
            />
          </a>
          <a href="https://twitter.com/KamalZyel" class="social-button">
            <img
              src="../../assets/img/twitter.png"
              target="_blank"
              alt="twitter"
              loading="lazy"
            />
          </a>
        </div>
      </div>
      <div class="w-full md:w-2/3 h-max pl-0 md:pl-14">
        <loading v-show="loading" />
        <div v-if="errors.length">
          <div :key="error" v-for="error in errors">
            <div
              class="
                w-full
                flex
                justify-between
                p-4
                bg-rose-400
                my-2
                max-w-m
                rounded-lg
                space-x-2
              "
              v-if="error == 'failed'"
            >
              <p class="text-sm md:text-lg font-medium">
                Failed to send message, please check your internet connection
                and try again!
              </p>
              <svg
                @click="failedMessage"
                xmlns="http://www.w3.org/2000/svg"
                class="h-10 w-10 hover:text-blue-50"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"
                />
              </svg>
            </div>
          </div>
        </div>
        <div class="text-center rounded-lg p-4" v-if="sending">
          <img
            src="../../assets/img/mail.png"
            class="mx-auto w-80"
            alt="Success send message"
          />
          <p class="text-lg text-blue-50 font-light">
            Thank's for your message, we will reply soon!
          </p>
        </div>
        <form
          @submit="checkForm"
          method="post"
          class="flex-col space-y-4 text-white"
          v-if="!sending"
          v-show="!loading"
        >
          <div class="flex flex-col space-y-1 my-2">
            <input
              class="input-control"
              type="text"
              placeholder="Name"
              autocomplete="off"
              v-model="name"
              name="name"
            />
            <div v-if="errors.length">
              <div :key="error" v-for="error in errors">
                <span class="mx-2 text-sm text-rose-400" v-if="error == 'name'"
                  >Name is required</span
                >
              </div>
            </div>
          </div>

          <div class="flex flex-col space-y-1 my-2">
            <input
              class="input-control"
              type="text"
              placeholder="E-mail"
              autocomplete="off"
              name="email"
              v-model="email"
            />
            <div v-if="errors.length">
              <div :key="error" v-for="error in errors">
                <span class="mx-2 text-sm text-rose-400" v-if="error == 'email'"
                  >Email is required</span
                >
              </div>
            </div>
          </div>
          <div class="flex flex-col space-y-1 my-2">
            <textarea
              class="input-control"
              rows="4"
              cols="10"
              placeholder="Your message here"
              v-model="message"
              name="message"
            ></textarea>
            <div v-if="errors.length">
              <div :key="error" v-for="error in errors">
                <span
                  class="mx-2 text-sm text-rose-400"
                  v-if="error == 'message'"
                  >Message is required</span
                >
              </div>
            </div>
          </div>
          <div class="flex w-full justify-end">
            <button type="submit" class="submit-button">SEND</button>
          </div>
        </form>
      </div>
    </div>
  </section>
</template>

<script>
import TitleSections from "../TitleSection";
import Loading from "../Loading.vue";
import axios from "axios";

export default {
  name: "Contact",
  components: {
    TitleSections,
    Loading,
  },
  data: function () {
    return {
      loading: false,
      sending: false,
      errors: [],
      name: null,
      email: null,
      message: null,
    };
  },
  methods: {
    checkForm: function (e) {
      if (this.name && this.email && this.message) {
        this.loading = !this.loading;
        this.sending = false;
        const basePantry =
          "https://getpantry.cloud/apiv1/pantry/11e2bd16-1ca7-4dd7-8dc6-3ed725e9ebd5/basket/";

        axios
          .post(basePantry + this.name, {
            name: this.name,
            email: this.email,
            message: this.message,
          })
          .then(() => {
            this.loading = false;
            this.name = "";
            this.email = "";
            this.message = "";
            this.sending = true;
          })
          .catch((error) => {
            setTimeout(() => {
              this.loading = false;
            }, 2000);
            if (error) {
              setTimeout(() => {
                this.errors.push("failed");
              }, 2000);
            }
          });
      }

      this.errors = [];

      if (!this.name) {
        this.sending = false;
        this.errors.push("name");
      }
      if (!this.email) {
        this.sending = false;
        this.errors.push("email");
      }
      if (!this.message) {
        this.sending = false;
        this.errors.push("message");
      }
      e.preventDefault();
    },
    failedMessage: function () {
      this.errors.shift();
    },
  },
};
</script>

<style lang="postcss">
.social-button {
  @apply rounded-full bg-blue-400 h-12 w-12 flex items-center justify-center p-3 cursor-pointer;
}

.input-control {
  @apply bg-gray-600 font-light py-3 px-2 focus:ring-2 focus:ring-blue-400 focus:outline-none rounded-lg;
}

.submit-button {
  @apply w-max px-6 py-2 bg-gradient-to-r from-blue-700 to-blue-400 rounded-full focus:outline-none focus:ring-2 focus:ring-blue-100 text-white font-normal text-lg;
}
</style>
