<template>
  <section class="flex-section h-full md:h-96 w-full">
    <div
      class="order flex w-full mb-4 md:w-2/3 items-center justify-center md:justify-end"
    >
      <img class="w-2/3" src="../../assets/img/avatars.png" alt="Kamaludin avatar" loading="eager"/>
    </div>
    <div
      class="order-reverse flex flex-col w:1/3 items-start justify-center w-full md:w-2/3 text-gray-300"
    >
      <h1 class="text-lg font-medium">
        Yo, I' am Kamal
      </h1>
      <h2 class="text-3xl md:text-5xl font-bold">
        App Developers
        <!-- <span class="gradient-text">Developers</span> -->
      </h2>
      <p class="leading-snug py-2 md:py-4 text-gray-400">
        Freelance worker as an app developer, specializing in websites and mobile applications.
      </p>
      <p class="leading-snug text-gray-400">
        Want collaborate for your next project?
      </p>
      <div class="pt-6 md:pt-10 flex items-center space-x-8 text-gray-100">
        <a
          href="mailto:kamal.zyel@gmail.com"
          class="px-6 py-2 bg-gradient-to-l from-blue-700 to-blue-400 rounded-full text-lg"
        >
          Let's talk
        </a>
        <a
          href="https://storageapi.fleek.co/kamaludin21-team-bucket/resume-kamaludin.pdf"
          class="gradient-text font-medium text-lg hover:text-blue-50"
          download
          target="_blank"
        >
          Get CV
        </a>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: "Header",
};
</script>
