<template>
  <section
    class="w-full rounded-lg flex flex-col justify-center md:justify-between items-center md:flex-row bg-blue-100 py-10 px-5 mt-6 ring-4 ring-blue-700 text-gray-900"
  >
    <div class="pb-2 text-center md:text-left">
      <h1 class="font-bold text-xl md:text-2xl">
        Ready to get started?
      </h1>
      <p class="font-medium  xl md:text-lg text-gray-700">
        Get in touch now
      </p>
    </div>
    <a
      href="mailto:kamal.zyel@gmail.com"
      class="bg-blue-700 shadow ring-2 ring-gray-300 w-max py-2 text-gray-100 px-4 rounded-full"
    >
      Contact Me
    </a>
  </section>
</template>
