<template>
  <section class="wrap-y ">
    <TitleSections title="Project" />
    <div class="flex-section mt-6">
      <div class="h-64 w-full md:w-1/3">
        <div
          class="flex flex-row items-center bg-gray-800 ring-4 ring-gray-500 justify-center h-full w-full rounded-xl"
        >
          <div
            class="focus:outline-none text-lg font-medium text-white text-center py-2"
          >
            Latest Project (Soon)
            <svg
              class="inline-block h-5 w-5 -mt-0.5 fill-current text-white"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M14 5l7 7m0 0l-7 7m7-7H3"
              />
            </svg>
          </div>
        </div>
      </div>
      
    </div>
  </section>
</template>

<script>
import TitleSections from "../TitleSection";

export default {
  name: "Project",
  components: {
    TitleSections,
  },
};
</script>