<template>
    <section class="wrap-y">
      <TitleSections title="My Awesome Service" />
      <div class="flex-section mt-6 space-y-4 md:space-y-0 md:space-x-4 text-white">
        <div class="service-card bg-gradient-to-tr from-green-600 to-cyan-500">
          <img class="w-16" src="../../assets/img/coding.png" alt="coding" loading="lazy">
          <h3 class="text-lg font-medium py-2">Full Stack Applications</h3>
          <p class="font-light">Plan and develop secure and beauty apps with hight peformance. For
              suppport your business goal with newest technology</p>
        </div>
        <div class="service-card bg-gradient-to-tr from-orange-600 to-yellow-300">
          <img class="w-16" src="../../assets/img/web.png" alt="web" loading="lazy">
          <h3 class="text-lg font-medium py-2">Web App Development</h3>
          <p class="font-light">Only need one landing page, or more complex web applications?
              let's build and realize your ideas</p>
        </div>
        <div class="service-card bg-gradient-to-tr from-fuchsia-800 to-purple-300">
          <img class="w-16" src="../../assets/img/mobile.png" alt="mobile" loading="lazy">
          <h3 class="text-lg font-medium py-2">Mobile Apps</h3>
          <p class="font-light">Most of the users today are smartphone users. Now is the perfect time to build a mobile app for your business</p>
        </div>
      </div>
    </section>
</template>

<script> 
import TitleSections from '../TitleSection'

export default {
    name: 'Serviecs',
    components: {
        TitleSections,
    },
}
</script>

<style lang="postcss" scoped>
.service-card {
    @apply w-full md:w-1/3 p-4 rounded-xl;
}
</style>