<template>
    <footer class="wrap-x wrap-y bg-gray-800 border-b-4 border-blue-400">
      <div class="flex-section justify-between items-center">
        <div class="w-full md:w-1/2">
          <div class="flex justify-center md:justify-start w-full">
            <img class="h-9" src="../assets/img/kamaludintech.png" alt="Kamaludin logo" loading="lazy" />
          </div>
          <div
            class="focus:outline-none text-lg font-light text-gray-400 text-center md:text-left"
          >
            &#169; 2021 &bull; Made With
            <svg
              class="inline-block h-5 w-5 -mt-1 fill-current text-rose-400"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                fill-rule="evenodd"
                d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z"
                clip-rule="evenodd"
              />
            </svg>
          </div>
        </div>
        <div class="footer-menu">
          <a href="/" class="footer-link">Home</a>
          <a href="/blog" class="footer-link">Blog</a>
          <a href="/resources" class="footer-link">Resources</a>
      </div>
      </div>
    </footer>
</template>

<script>
export default {
    name: 'Footer'
}
</script>

<style lang="postcss">
.footer-link {
  @apply hover:text-blue-700 hover:underline font-light;
}

.footer-menu {
  @apply flex flex-row text-white space-x-4 pt-6
}
</style>