<template>
  <div class="w-full text-center">
    <div class="loadingio-spinner-ripple-abkguvny5x6">
      <div class="ldio-0gn3s3bnby3m">
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Loading",
};
</script>

<style type="text/css" scoped>
@keyframes ldio-0gn3s3bnby3m {
  0% {
    top: 124.2px;
    left: 124.2px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 62.1px;
    left: 62.1px;
    width: 124.2px;
    height: 124.2px;
    opacity: 0;
  }
}
.ldio-0gn3s3bnby3m div {
  position: absolute;
  border-width: 10.8px;
  border-style: solid;
  opacity: 1;
  border-radius: 50%;
  animation: ldio-0gn3s3bnby3m 0.7092198581560283s cubic-bezier(0, 0.2, 0.8, 1)
    infinite;
}
.ldio-0gn3s3bnby3m div:nth-child(1) {
  border-color: #38bdf8;
  animation-delay: 0s;
}
.ldio-0gn3s3bnby3m div:nth-child(2) {
  border-color: #bae6fd;
  animation-delay: -0.35460992907801414s;
}
.loadingio-spinner-ripple-abkguvny5x6 {
  width: 270px;
  height: 270px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-0gn3s3bnby3m {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
}
.ldio-0gn3s3bnby3m div {
  box-sizing: content-box;
}
</style>