<template>
  <nav class="fixed top-0 wrap-x glass shadow w-full">
    <div class="flex w-full justify-between items-center shadow-md py-5 z-10">
      <a href="/">
        <img
          class="h-6 md:h-8"
          src="../assets/img/kamaludintech.png"
          alt="Kamaludin logo"
          loading="lazy"
        />
      </a>
      <svg
        @click.stop="menuResponse"
        ref="close"
        class="block md:hidden h-6 w-6 text-blue-50"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          v-if="!show"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h16M4 18h16"
        />
        <path
          v-if="show"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M6 18L18 6M6 6l12 12"
        />
      </svg>
      <!-- Desktop  -->
      <div
        class="hidden md:flex md:flex-row items-center space-x-6 text-gray-400"
      >
        <router-link to="/" class="nav-link" exact active-class="active"
          >Home</router-link
        >
        <router-link to="/blog" class="nav-link" active-class="active"
          >Blog</router-link
        >
        <router-link to="/resources" class="nav-link" active-class="active">
          Resources
        </router-link>
      </div>
      <!-- Mobile -->
      <transition
        enter-active-class="transition ease-out duration-100"
        enter-from-class="transform opacity-30 scale-120"
        enter-to-class="transform opacity-100 scale-100"
        leave-active-class="transition ease-in duration-75"
        leave-from-class="transform opacity-100 scale-100"
        leave-to-class="transform opacity-0 scale-95"
      >
        <div
          v-if="show"
          v-closable="{
            exclude: ['close'],
            handler: 'menuResponse',
          }"
          class="absolute w-full md:hidden mt-52 pr-9"
        >
          <div
            class="
              flex flex-col
              pr-5
              pl-2
              space-y-4
              py-2
              rounded-md
              w-full
              bg-gray-800
              ring-2 ring-gray-700
              filter
            "
          >
            <router-link
              to="/"
              class="nav-link w-max"
              exact
              active-class="active"
              >Home</router-link
            >
            <router-link to="/blog" class="nav-link w-max" active-class="active"
              >Blog</router-link
            >
            <router-link
              to="/resources"
              class="nav-link w-max"
              active-class="active"
            >
              Resources
            </router-link>
          </div>
        </div>
      </transition>
    </div>
  </nav>
</template>

<script>
import Vue from "vue";
let handleOutsideClick;
Vue.directive("closable", {
  bind(el, binding, vnode) {
    handleOutsideClick = (e) => {
      e.stopPropagation();
      const { handler, exclude } = binding.value;
      let clickedOnExcludedEl = false;
      exclude.forEach((refName) => {
        if (!clickedOnExcludedEl) {
          const excludedEl = vnode.context.$refs[refName];
          clickedOnExcludedEl = excludedEl.contains(e.target);
        }
      });
      if (!el.contains(e.target) && !clickedOnExcludedEl) {
        vnode.context[handler]();
      }
    };
    document.addEventListener("click", handleOutsideClick);
    document.addEventListener("touchstart", handleOutsideClick);
  },

  unbind() {
    document.removeEventListener("click", handleOutsideClick);
    document.removeEventListener("touchstart", handleOutsideClick);
  },
});

export default {
  name: "Navigation",
  data() {
    return {
      show: false,
    };
  },
  methods: {
    menuResponse() {
      this.show = !this.show;
    },
  },
};
</script>

<style lang="postcss">
.nav-link {
  @apply text-gray-400 text-lg hover:text-blue-300 cursor-pointer select-none;
}

.active {
  @apply border-b-2 border-blue-400 text-blue-400;
}
</style>
