<template>
    <h2 class="text-4xl py-1 font-bold gradient-text">
        {{ title }}
    </h2>
</template>

<script>
export default {
    name: 'TitleSections',
    props: {
        title: String
    }
}
</script>