<template>
  <div class="my-4">
    <div
      class="flex flex-wrap -mx-1 overflow-hidden sm:-mx-1 md:-mx-2 lg:-mx-2 xl:-mx-3"
    >
      <div
        v-if="!articles.length"
        class="w-full flex flex-col items-center space-y-4 mt-6"
      >
        <img src="../../assets/img/empty.png" class="w-52" alt="empty page" />
        <div class="text-center">
          <p class="text-lg font-medium text-blue-400">
            Sorry, no content shared yet
          </p>
          <p class="text-sm font-light tracking-wide text-gray-300">
            Please come back next time, we will provide best content for you
          </p>
        </div>
      </div>
      <div
        class="my-1 px-1 w-full overflow-hidden sm:my-1 sm:px-1 sm:w-full md:my-2 md:px-2 md:w-1/2 lg:my-2 lg:px-2 lg:w-1/3 xl:my-3 xl:px-3 xl:w-1/3"
        :key="article.id"
        v-for="article in articles"
      >
        <div class="flex flex-col h-full w-full bg-gray-800 rounded-lg">
          <img
            class="rounded-lg rounded-b-none"
            :src="article.thumbnailUrl"
            alt="thumbnail"
            loading="lazy"
          />
          <div class="flex justify-between -mt-4 px-4">
            <span
              :class="article.color"
              class="inline-block ring-4 ring-gray-800 rounded-full text-sm font-medium tracking-wide text-gray-100 px-3 pt-0.5"
              >{{ article.category }}</span
            >
            <span
              class="flex h-min space-x-1 items-center rounded-full text-gray-400 bg-gray-800 py-1 px-2 text-xs font-medium"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5 text-blue-500"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z"
                />
              </svg>
              <p class="text-blue-500 font-semibold text-xs">
                {{ article.minuteReads }}
              </p>
            </span>
          </div>
          <div class="py-2 px-4">
            <h2
              class="text-xl font-medium leading-6 tracking-wide text-gray-300 hover:text-blue-500 cursor-pointer"
            >
              <a href="blog/detail">{{ article.title }}</a>
            </h2>
          </div>
          <div class="px-4 space-y-2">
            <p class="text-gray-400 font-normal leading-5 tracking-wide">
              {{ article.description }}
              <router-link
                to="/blog/detail"
                class="font-medium hover:text-blue-400 text-gray-100"
                >read more...</router-link
              >
            </p>
          </div>
          <div class="flex flex-row items-end h-full w-full px-4 mt-4">
            <div class="flex border-t border-gray-700 w-full py-4">
              <div class="flex items-center space-x-3   w-full">
                <img
                  class="object-cover w-10 h-10 border-2 border-white rounded-full"
                  src="https://storageapi.fleek.co/kamaludin21-team-bucket/portfolio/avatar.jpg"
                  alt="profile users"
                  loading="lazy"
                />
                <div class="">
                  <p class="text-sm font-semibold tracking-wide text-gray-200">
                    {{ article.author }}
                  </p>
                  <p class="text-xs font-light tracking-wider text-gray-300">
                    {{ article.dateCreated }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <button
      v-if="articles.length > 3"
      class="w-full mt-10 ring-4 ring-blue-600 hover:bg-blue-600 bg-blue-500 rounded-lg py-3 cursor-pointer flex justify-center text-gray-200 text-lg font-semibold"
    >
      LOAD MORE
    </button>
  </div>
</template>

<script>
export default {
  name: "Articles",
  props: {
    articles: Array,
  },
};
</script>
