<template>
  <div class="w-full">
    <div class="flex w-full justify-between items-center mt-2">
      <span
        :class="article.color"
        class="text-sm tracking-wide rounded-full text-gray-100 px-4 py-1 pb-1.5"
      >
        {{ article.category }}
      </span>
      <div class="flex w-max items-center space-x-1">
        <div>
          <span
            class="flex h-min space-x-1 items-center rounded-full text-gray-400 bg-gray-700 py-1 px-2 text-xs font-medium"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5 text-blue-500"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z"
              />
            </svg>
            <p class="text-blue-500 font-semibold text-xs">
              {{ article.minuteReads }}
            </p>
          </span>
        </div>
      </div>
    </div>
    <h1
      class="text-2xl md:text-3xl font-medium text-gray-300 leading-7 tracking-wide my-4"
    >
      {{ article.title }}
    </h1>
    <div class="flex items-center space-x-3 w-full">
      <img
        :src="article.authorUrl"
        class="inline object-cover w-8 h-8 border-2 border-white rounded-full"
        alt="profile"
        loading="lazy"
      />
      <div
        class="flex flex-col md:flex-row w-full items-baseline text-gray-400"
      >
        <p class="text-sm font-semibold tracking-wide">
          {{ article.author }}
        </p>
        <span class="hidden md:block text-gray-400 mx-2">&bull;</span>
        <p class="text-xs">{{ article.dateCreated }}</p>
      </div>
    </div>
    <div
      class="text-base md:text-lg text-gray-400 my-8 leading-5 tracking-wide space-y-3"
      v-html="article.description"
    ></div>
  </div>
</template>

<script>
export default {
  name: "Article",
  props: {
    article: Object,
  },
};
</script>
