<template>
  <div class="my-4">
    <router-link
      to="/blog"
      exact
      class="flex items-center text-gray-400 hover:text-gray-200 cursor-pointer w-max my-6"
    >
      <BackArrow class="h-5 w-5" />
      <p class="text-base font-medium">
        Back to list
      </p>
    </router-link>
    <div class="flex flex-col md:flex-row space-x-0 md:space-x-8">
      <div class="w-full md:w-2/3">
        <Article :article=article />
      </div>
      <div class="w-full md:w-1/3">
        <div class="">
          <SideArticle :related=related />
        </div>
      </div>
    </div>
    <div class="my-6 md:my-20">
      <div class="border-b border-gray-800 py-2 mb-4">
        <h2 class="text-3xl font-bold gradient-text">Popular post</h2>
      </div>
      <div
        class="flex flex-wrap -mx-1 overflow-hidden sm:-mx-1 md:-mx-2 lg:-mx-2 xl:-mx-3"
      >
        <div
          class="my-1 px-1 w-full overflow-hidden sm:my-1 sm:px-1 sm:w-full md:my-2 md:px-2 md:w-1/2 lg:my-2 lg:px-2 lg:w-1/3 xl:my-3 xl:px-3 xl:w-1/3"
          :key="popular.id"
          v-for="popular in populars"
        >
          <div class="flex flex-col h-full w-full bg-gray-800 rounded-lg">
            <img
              class="rounded-lg rounded-b-none"
              :src="popular.thumbnailUrl"
              alt="thumbnail"
              loading="lazy"
            />
            <div class="flex justify-between -mt-4 px-3">
              <span
                :class="popular.color"
                class="ring-4 ring-gray-800 rounded-full text-sm font-medium tracking-wide text-gray-100 px-3 pt-0.5"
                >{{ popular.category }}</span
              >
              <span
                class="flex h-min space-x-1 items-center rounded-full text-gray-400 bg-gray-800 py-1 px-2 text-xs font-medium"
              >
                <Clock class="h-5 w-5 text-blue-500" />
                <p class="text-blue-500 font-semibold text-xs">
                  {{ popular.minuteReads }}
                </p>
              </span>
            </div>
            <div class="p-2">
              <a
                href="blog-detail"
                class="text-lg font-medium leading-6 tracking-wide text-gray-300 hover:text-blue-500 cursor-pointer"
              >
                {{ popular.title }}
              </a>
            </div>
            <div class="flex flex-row items-end h-full w-full px-2 mt-4">
              <div class="flex border-t border-gray-700 w-full py-4">
                <div class="flex items-center space-x-3 w-full">
                  <img
                    class="object-cover w-8 h-8 border-2 border-white rounded-full"
                    src="https://storageapi.fleek.co/kamaludin21-team-bucket/portfolio/avatar.jpg"
                    alt="profile"
                    loading="lazy"
                  />
                  <div class="text-gray-400">
                    <p class="text-sm font-semibold tracking-wide">
                      {{ popular.author }}
                    </p>
                    <p class="text-xs font-light tracking-wider">
                      {{ popular.dateCreated }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Article from "./Article";
import SideArticle from "./SideArticle";

// SVG
import BackArrow from "../svg/BackArrow.vue";
import Clock from "../svg/Clock.vue";

export default {
  name: "Detail",
  components: {
    Article,
    SideArticle,
    BackArrow,
    Clock
  },
  props: {
    article: Object,
    related: Array,
    populars: Array,
  },
};
</script>
