<template>
    <div class="mt-16">
      <div class="flex-section h-full md:h-96 w-full">
        <div
          class="order hidden md:flex w-full mb-4 md:w-2/3 items-center justify-center md:justify-end"
        >
          <img class="w-2/3" src="../../assets/img/feeds.png" alt="kamaludin blog" loading="lazy"/>
        </div>
        <div
          class="order-reverse flex flex-col w:1/3 items-start justify-center w-full md:w-2/3 text-gray-300"
        >
          <h1 class="text-lg md:text-4xl font-light">Yo, Welcome to</h1>
          <h2 class="text-6xl md:text-8xl font-bold">
            My
            <span class="gradient-text">Blog</span>
          </h2>
          <p class="text-light my-2 md:mt-6 text-gray-500">
            Still on progress, this is preview version!
          </p>
        </div>
      </div>
    </div>
</template>