<template>
  <div class="pb-4">
    <div class="border-b border-gray-800 pb-2 mb-6">
        <p class="text-3xl font-bold gradient-text">Related topics</p>
    </div>
    <div class="space-y-4">
      <div class="space-y-2 border-b border-gray-700 pb-4" :key="related.id"
        v-for="related in related">
        <div class="space-y-1 text-gray-400">
          <h2 class="text-lg leading-5 tracking-wide cursor-pointer hover:text-blue-500">
            <a href="/blog/detail">
              {{ related.title }}
            </a>
          </h2>
          <p class="text-xs font-light tracking-wide">
            <span class="font-semibold">{{ related.author }}</span> &bull; {{ related.dateCreated }}
          </p>
        </div>
      </div>
    </div>
  </div>
</template>
<script>

export default {
  name: "SideArticle",
  props: {
    related: [Array],
  },
};

</script>