<template>
  <div id="app">
    <!-- 1. Navigations -->
    <Navigation/>
    <!-- 2. Content -->
    <router-view />
    <!-- 3. Footer -->
    <Footer />
  </div>
</template>

<script>
import Navigation from "@/components/Navigation";
import Footer from "@/components/Footer";

export default {
  name: 'App',
  components: {
    Navigation,
    Footer
  },  
}
</script>

<style lang="postcss">
html {
  scroll-behavior: smooth;
}
/* Nav */
.glass {
  background-color: rgba(255, 255, 255, 0);
  backdrop-filter: blur(30px);
}
.flex-section {
  @apply flex flex-col md:flex-row;
}
.order {
  @apply order-1 md:order-2;
}

.order-reverse {
  @apply order-2 md:order-1;
}

/* Global style */
.wrap-x {
  @apply px-4 md:px-14 lg:px-40 xl:px-60;
}

.wrap-y {
  @apply py-14 md:py-28;
}

.gradient-text {
  @apply bg-clip-text text-transparent bg-gradient-to-r from-blue-700 to-blue-400;
}
</style>
